{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Listas</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Auditorias</h3>
    <a href="{% url 'cadastro-auditoria' %}" type="button" class="btn btn-sm btn-success">
        Adicionar <img src="{% static 'img/add.svg' %}" alt="cadastrar" width="18px">
    </a>
</div>

<div
    class="table-responsive"
>
    <table
        class="table table-striped" id="auditoria-table"
    >
        <thead>
            <tr>
                <th scope="col">Ação</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for auditoria in object_list %}
            <tr>
                <td>{{ auditoria.action }}</td>
                <td>{{ auditoria.timestamp }}</td>
                <td>
                    <a href="{% url 'atualizar-auditoria' auditoria.pk %}" class="btn btn-warning btn-sm" title="Editar"><img src="{% static 'img/pencil-sharp.svg' %}" alt="editar" width="18px"></a>
                    <a href="{% url 'deletar-auditoria' auditoria.pk %}" class="btn btn-danger btn-sm" title="Excluir"><img src="{% static 'img/trash.svg' %}" alt="excluir" width="18px"></a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="3">Nenhum registro.</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %} 

{% block scripts %}
   <script>
    $(document).ready(function() {
       $('#auditoria-table').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
       });
    });
   </script>
{% endblock %}