{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Listas</title>
{% endblock %}

{% block contant %}

    <div>
        Tarefas
        <a href="{% url 'cadastro-tarefa' %}" type="button" class="float-right btn btn-sm btn-success">Adicionar <img src="{% static 'img/add.svg' %}" alt="cadastrar" width="18px"></a>
    </div>
   

<div
    class="table-responsive"
>
    <table
        class="table table-striped"
    >
        <thead>
            <tr>
                <th scope="col">Tarefa</th>
                <th scope="col">Criação</th>
                <th scope="col">Prazo</th>
                <th scope="col">Finalização</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for tarefa in object_list %}
            <tr>
                <td>{{ tarefa.title }}</td>
                <td>{{ tarefa.creation_date }}</td>
                <td>{{ tarefa.due_date }}</td>
                <td>{{ tarefa.completion_date }}</td>
                <td>
                    <a href="{% url 'atualizar-tarefa' tarefa.pk %}" class="btn btn-warning btn-sm" title="Editar"><img src="{% static 'img/pencil-sharp.svg' %}" alt="editar" width="18px"></a>
                    <a href="{% url 'deletar-tarefa' tarefa.pk %}" class="btn btn-danger btn-sm" title="Excluir"><img src="{% static 'img/trash.svg' %}" alt="excluir" width="18px"></a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="5">Nenhum registro.</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %} 